div {display: flex;
flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: beige;
  padding: 20px;
  a {display: block;
  border: 2px solid;
  height: 100px;
  text-decoration: none}
}

